*{ 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

/* header part */



#logo .logo-navbar{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #faf8f8; 

}

.link{
    display: flex;
    list-style: none;
    gap: 32px;
    
}

.link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100px;
    color: #000000;
}

.btn {
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #21a154;
    cursor: pointer;

}

.btn:hover{
    background-color: rgb(101, 117, 201);
}
ul li a:hover{
    background-color: aqua;
}

#banner{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./assets/hero-bg.png);
}

.btn-1{
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color:#006d2d ;
    background-color:white;
    border-radius: 20px;

}

.banner-container .heading{
    font-size: 70px;
    font-weight: bold;
    color: #ece0e0;
    padding: 24px;
}

.banner-container .Heading{
    font-size: 70px;
    font-weight: bold;
    color: #30B868;
    padding-bottom: 20px;
}

.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #f8f2f2;
    padding-bottom: 32px;
}

.btn-s{
    font-size: 12px;
    padding: 13.5px;
    border-radius: 4px;
    margin-right: 12px;
}

.btn-2{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    color: rgb(83, 82, 82);
    background-color: rgba(255, 255, 255, 0.753);
}
#card-section {
  padding: 0 120px;
  /* width: 90%;
  max-width: 1360px; */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

#card-section .text-section h1 {
  font-style: Bold;
  font-size: 48px;
  line-height: 58px;
  margin-top: 48px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

#card-section .text-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#card-section .card-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#card-section .card-content .card {
  padding: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.063);
  max-width: 253px;
}

.card-content .card .card-img {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
.card .card-img img {
  width: 32px;
  height: 32px;
}

.card-content .card h4 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.card-content .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}



#knowledge {
 display: flex;
 align-items: center;
 /* max-width: 90%; */
 margin: auto;
 padding: 120px;
 gap: 60px;
}
#knowledge .knowledge-text span {
 color: #30b868;
 font-size: 16px;
 font-weight: 500;
 text-transform: uppercase;
}
#knowledge .knowledge-text h1 {
 font-style: Bold;
 font-size: 48px;
 font-weight: 700;
 line-height: 58px;
 margin-bottom: 16px;
 margin-top: 16px;
 text-align: left;
 max-width: 700px;
 text-transform: capitalize;
}
#knowledge .knowledge-text p {
 font-size: 16px;
 text-align: left;
 line-height: 20px;
 max-width: 700px;
 margin-bottom: 40px;
}
#knowledge .knowledge-text .task {
 margin-bottom: 16px;
}
#knowledge .knowledge-text .task h4 {
 display: inline-block;
 vertical-align: top;
 font-size: 16px;
 margin-left: 4px;
}
#early-access {
 padding: 0 120px 120px;
 text-align: center;
}
#early-access .early-access-section {
 background-color: #f7f6f2;
  padding: 80px 40px;
 display: flex;
 flex-direction: column;
 gap: 24px;
 max-height: 384px;
 border-radius: 12px;
}
.early-access-section .early-text h1 {
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 16px;
 text-transform: capitalize;
}
.early-access-section .early-text p {
 font-size: 16px;
 line-height: 24px;
 color: #627382;
}
.early-access-section .early-button p {
 font-size: 16px;
 line-height: 24px;
 color: #627382;
 margin-top: 16px;
}




/* last part */
.last-part{
    width: 1300px;
    max-width: 1600px;
    padding: 80px ;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    background-color: #0a3c70;
}

.last-work{
    display: flex;
    justify-content: space-between;
}

.last-foot h3{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
} 


.last{
    font-size: 16px;
    color: #FAFAFA;
    padding: 194px 20px 0;
}
