*{ 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header part */



#logo .logo-navbar{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #faf8f8; 

}

.link{
    display: flex;
    list-style: none;
    gap: 32px;
    
}

.link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100px;
    color: #000000;
}

.btn {
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #21a154;
    cursor: pointer;

}

.btn:hover{
    background-color: rgb(101, 117, 201);
}
ul li a:hover{
    background-color: aqua;
}

#banner{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./assets/hero-bg.png);
}

.btn-1{
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color:#006d2d ;
    background-color:white;
    border-radius: 20px;

}

.banner-container .heading{
    font-size: 70px;
    font-weight: bold;
    color: #ece0e0;
    padding: 24px;
}

.banner-container .Heading{
    font-size: 70px;
    font-weight: bold;
    color: #30B868;
    padding-bottom: 20px;
}

.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #f8f2f2;
    padding-bottom: 32px;
}

.btn-s{
    font-size: 12px;
    padding: 13.5px;
    border-radius: 4px;
    margin-right: 12px;
}

.btn-2{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    color: rgb(83, 82, 82);
    background-color: rgba(255, 255, 255, 0.753);
}